
.slidecontainer {
    width: 100%;
    margin-bottom: 20px;
}

.slidecontainer p {
    text-align: center;
}

.slider {
    display: block;
    margin: auto;
    opacity: 0.7;
    background: grey;
}

.slider:hover {
    opacity: 1;
    transition: 0.3s;
}


#character-info, #character-image {
    padding-left: 4.5em;
    padding-right: 4.5em;
}

#character-image {
    float: right;
}



#scorep, #score {
    text-align: center;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: auto;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
    padding-top: calc((203.317px - 110px)/2);
    padding-bottom: calc((203.317px - 110px)/2);
}

.back-face {
    height: 100%;
}

.front-face {
    transform: rotateY(180deg);
}

